<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="TestCase1/">
        <classes>
            <class name="TestCaseClass"/>
            <parameter name="username" value="Admin"></parameter>
            <parameter name="password" value="admin123"></parameter>
        </classes>  
    </test>

    <test name="TestCase2/">
        <classes>
            <class name="TestCaseClass"/>
            <parameter name="username" value="AdminA"></parameter>
            <parameter name="password" value="admin123"></parameter>
        </classes>
    </test>

    <test name="TestCase3/">
        <classes>
            <class name="TestCaseClass"/>
            <parameter name="username" value="Admin"></parameter>
            <parameter name="password" value="admin123"></parameter>
        </classes>
    </test>
</suite>